@import url('./reset.css');

body{
}

#home{
    width: 100vw;
    position: relative;
}
#main-header{
    width: 100vw;
    height: 80px;
    background: transparent;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    padding: 16px 64px;
    z-index: 100;
}
#main-header .header-slide{
    position: absolute;
    /* display: none; */
    top: 0;
    left: 0;
    content: "";
    width:100vw;
    height: 80px;
    background: #fff;
    z-index: -1;
}
#main-header .pc-nav{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
height: 100%;
font-weight: 300;
}
#main-header .pc-nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-header .pc-nav ul > li{
    margin-left: 44px;
}
#main-header ul li{
    transition: 0.5s;
}
#main-header ul li:hover{
    color:#666;
}
#main-header .pc-nav ul li.lang-box{
    outline: 1px solid #aaa;
    padding: 10px 20px;
    font-weight: 400;
    position: relative;
}
#main-header .pc-nav ul li.lang-box ul{
position: absolute;
transform: translateY(100%);
bottom: 0;
left: 0;
background: #fff;
outline: 1px solid #aaa;
display: none;
}
#main-header .pc-nav ul li.lang-box ul li{
    margin-left: 0;
    padding: 10px 53px 10px 20px;
    font-weight: 300;
    font-size: 13px;
}
#main-header .pc-nav ul li.lang-box ul li.lang-on{
    font-weight: 400;
}
.mobile-nav, .gnb-btn{
    display: none;
}

/* main-visual */
#main-visual{
    position: relative;
    width: 100vw;
    height: 100vh;
}
#main-visual .fade-banner{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#main-visual .fade-banner #fadeImg{
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#main-visual article{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: end;

    width: 100%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#main-visual article p{
    font-size: 61px;
    font-weight: 300;
    letter-spacing: 3px;
    line-height: 80px;
    color: #fff;
    text-shadow: 0 0 8px #333;
    margin-left: 12vw;
    transition-duration: 0.5s;
}
#main-visual article p:hover{
   color: #333;
}
#main-visual article .about-btn{
    border: 0;
    background: #fff;
    width: 300px;
    height: 100px;
    padding: 10px 20px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    transition-duration: 0.5s;
}
#main-visual article .about-btn:hover{
    width: 600px;
    background: linear-gradient(to right, #333, #666);
    color: #fff;
    transition-duration: 2s;
}
#main-visual article .about-btn .bi{
    font-size: 20px;
    color:inherit;
    animation-name: about;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes about {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: 20px;
    }
    
}

#section01{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    margin: 0 12vw;
    margin-top: 40px;
}
#section01 h3{
    font-weight: 400;
    font-size: 18px;
    width: max-content;
    border-bottom: 1px solid #aaa;
    padding-bottom: 4px;
}
#section01 .article-box{
display: flex;
flex-direction: row;
gap: 40px;
}
#section01 .article-box article h4{
    font-size: 23px;
    font-weight: 400;
}
#section01 .article-box article p{
font-size: 14px;
line-height: 25px;
margin: 20px 0;
}
#section01 .article-box article button{
    font-size: 14px;
    font-weight: 300;
    padding: 5px 30px;
    background: #333;
    color: #fff;
}



/* footer */

footer{
    width: 100%;
    height: 200px;
    padding: 0 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #aaa;
    color: #999;
    /* footer section gap */
    margin-top: 40px;
}
footer .article-box{
display: flex;
justify-content: center;
gap: 30px;
}
footer .article-box article h3{
    color: #666;
    font-size: 18px;
}
footer .article-box article p{
    font-size: 14px;
    color: #666;
}
footer .email{
    transition: 0.5s;
}
footer .email:hover{
    color: #333;
}
footer .sns .bi{
    color: #666;
    font-size: 24px;
    margin-left: 20px;
}
